.login-form div{
}


.login-form{
    padding-top :60px;
    width:60%;

}

.login-title{
    padding-top:40px;
    padding-bottom: 30px;
    font-size: 30px;
}

.login-submit{
    width: 100%;
    background-color:cadetblue;
    color:white;
    border-radius : 20px;
}
.container{
    display :flex;
    justify-content : center;
}

.login-img {
    height: 200px;
}

