<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Beverage">
    <insert id="insertBeverage">
        insert into Beverage (category, name, photo, price, newDrinkNum,expiration,company) values
            (#{category} , #{name}, #{photo} , #{price}, #{newDrinkNum},#{expiration},#{company})
    </insert>
    <update id="updateBeverage">
        update Beverage
        set category=#{category}, name=#{name}, photo = #{photo}, price=#{price}, newDrinkNum = #{newDrinkNum}, expiration = #{expiration}, company=#{company}  where seq=#{seq}
    </update>
    <delete id="deleteBeverage">
        delete from Beverage where seq=#{seq}
    </delete>
    <select id="getBeverage" resultType="beverage">
        select * from Beverage where seq=#{seq}
    </select>
    <select id="getBeverageList" resultType="beverage">
        select * from Beverage order by seq desc
    </select>


</mapper>
